<%= form_for :comment, url: create_comment_url(@upload_data), method: :post do |f| %>
  <%= f.text_field :line %><br>
  <%= f.text_area :contents %>
  <%= f.submit "Submit" %>
<% end %>
<div id="comment_favorites">
<table>
<% @all_comments.each do |c| %>
  <tr><td><a href="#" onclick="add_favorites('<%= raw c[0] %>')"> <%=  (c[0].length <= 45)? simple_format(c[0].first(45).gsub(/\n/, '<br>').html_safe) : simple_format(c[0].first(42)) %> </a></td></tr>
<% end %>
</table> 
</div>
<script>
add_favorites = function(v){
  $("#comment_contents").val(v);
}
</script>
