<% breadcrumb :upload_datum, @upload_data %>
<% content_for :title, @upload_data.name + " - Edit" %>

<div class="upload-data-wrapper">
  <div class="editor-left-col">
    <div class="editor-form" id="upload_data_container">
      <%= form_for :upload_datum, url: upload_datum_url(@upload_data), method: :patch do |f| %>
        <%= f.text_field :name, value: @upload_data.name %>
        <%= f.text_area :contents, style: 'display:none' , value: @upload_data.contents %>
        <%= f.submit "Save" %>
      <% end %>
    </div>
    <div class="content-editor">
      <%= render :partial => "editor", :locals => { :upload_data => @upload_data } %>
    </div>
    <div class="comment-form">
      <%= render :partial => "comment_form", :locals => { :upload_data => @upload_data } %>
    </div>
  </div>

  <div class="editor-right-col">
    <%= render :partial => "comment_annotations", :locals => { :upload_data => @upload_data } %>
  </div>
</div>
