<div id="upload_data_container">
<% content_for :title, @upload_data.name + " - Edit" %>
<%= form_for :upload_datum, url: upload_datum_url(@upload_data), method: :patch do |f| %>
  <%= f.text_field  :name, value: @upload_data.name %><br>
  <%= f.text_area :contents, style: 'display:none' , value: @upload_data.contents %><br>
  <div id="editor" class="editor" style="position: relative; width: 60%; height: 400px;">
    <%= @upload_data.contents %>
  </div>
  <%= f.submit "Edit" %>
<% end %>
</div>
<div id="annotations">
<%= form_for :comment, url: create_comment_url(@upload_data), method: :post do |f| %>
  <%= f.text_field :line %><br>
  <%= f.text_area :contents %>
  <%= f.submit "Submit" %>
<% end %>
<table id="comment_table">
  <thead>
    <tr>
      <th>Line</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<script>
  annots = [
  <% @upload_data.comments.each do |c| %>
    <%= raw '{row: ' + (c.line - 1).to_s + ', text: "' + c.contents + '", type: "error" , id:' + c.id.to_s + '}' %>
    <% if c != @upload_data.comments.last %>
      <%= ',' %>
    <% end %> 
  <% end %>
  ];
  /*annots = [{row: 105, text: "You have a problem here.",type: "error"}, 
            {row: 111, text: "You have a problem here.",type: "error"},
            {row: 113, text: "You have a problem here.",type: "error"}];*/
  editor = ace.edit("editor");
  editor.focus();
  editor.resize(true);
  editor.setTheme("ace/theme/monokai");
  session = editor.getSession();
  session.setMode("ace/mode/c_cpp"); 
  editor.session.setAnnotations(annots); 
  editor.on("change", function() {$("textarea[name='upload_datum[contents]']").val(editor.getValue()); });
  createLink = function(annotation)
  {
   var link= "<td>" + (annotation.row + 1).toString() + "</td><td> \
                <a href=\"#\" \
                  onclick=\"editor.focus(); \
                  editor.scrollToLine(" + annotation.row.toString() + ",true); \
                  editor.gotoLine(" + (annotation.row+ 1).toString() + ",10, true);\">" + annotation.text + 
                "</a>" + 
              "</td>";
   var deleteLink = "<td><a rel='nofollow' href='/comments/" + annotation.id + "' data-method='delete' data-confirm='Are you sure?'> delete </a></td>" ;
   return link + deleteLink;
  };
  annotsHandler=$("#comment_table tbody") ;
  for(i=0; i < annots.length; i++)
    {
  annotsHandler.html( annotsHandler.html() + "<tr>" + createLink(annots[i]) + "</tr>" );
    }

  $(document).on("page:change", function() {
    $('#comment_table').tablesorter({
      sortList: [[0,0]],
      headers: {
        1: { sorter: false }
      }
    });
  });
</script>
