<% content_for :title, @course.name + ' assignment ' + @assignment.name %>

<header>
  <h1><%= @course.name %> assignment <%= @assignment.name %></h1>
</header>

<div class="content-group">
  <%= @assignment.name %><br>
  <%= @assignment.description %><br>
  <%= "Total Points " + @assignment.total_grade.to_s %><br>
  <%= @assignment.start_date %><br>
  <%= @assignment.due_date %><br>
</div>

<header>
  <h1>All submissions</h1>
</header>

<div class="content-group">
 <%= link_to 'Test Case', test_case_url(@test_case) %><br>

  <% @submissions.each do |submission| %>
    <% submission_grade = submission.instructor_grade %>
    <%= submission.user.name %> - <%= link_to 'Edit', edit_submission_url(submission) %>
    <% if submission_grade[:compiled] %>
      <%= submission_grade[:correct][:correct].to_s + " out of " + submission_grade[:correct][:total].to_s %>
    <% else %>
      Does Not Run
    <% end %>
    <br>
  <% end %>
</div>
