<% content_for :title, @course.name + ' assignment ' + @assignment.name %>

<header>
  <h1><%= @course.name %> assignment <%= @assignment.name %></h1>
</header>

<div class="content-group">
  <%= @assignment.name %><br>
  <%= @assignment.description %><br>
  <%= @assignment.start_date %><br>
  <%= @assignment.due_date %><br>
</div>

<header>
  <h1>All submissions</h1>
</header>

<div class="content-group">
  <% @submissions.each do |submission| %>
    <%= submission.user.name %> - <%= link_to 'Edit', edit_submission_url(submission) %><br>
  <% end %>
</div>
