    
var html_make_contents = ""
var make_modal = ''

<% if @test_case.make.nil? %>
  html_make_contents = '<ul>' +
  '<li>' +
    '<div onclick="$(\'#new-make-modal\').show();" >' +
      '<%= j image_tag("icon_add.png", size: "64x64", alt: "Create Makefile", title: "Create Makefile") %><br>' +
      'Create Makefile' +
    '</div>' +
  '</li>' +
  '</ul>'

  <% @make = Make.new %>
  make_modal = '<div id="new-make-modal" class="modal-curtain">' +
  '<div class="modal-popup">' +
    '<%= j render :file => "makes/_make_form", :locals => { :test_case => @test_case, :make => @make } %>' +
  '</div>' +
  '</div>'

<% else %>
  
  html_make_contents = '<ul>' +
  '<li>' +
      '<div onclick="$(\'#edit-make-modal\').show();">' +
        '<%= j image_tag("icon_edit.png", size: "64x64", alt: "Edit Makefile", title: "Edit Makefile") %><br>' +
        'Edit Makefile' +
      '</div>' +
  '</li>' +
  '<li>' +
    '<%= j link_to(simple_format("<div>"+image_tag("icon_delete.png", size: "64x64", alt: "Delete Makefile", title: "Delete Makefile")+"<br>Delete Makefile</div>"), make_url(@test_case.make), method: :delete, :remote => true, data: { confirm: "Are you sure?" }) %>' +
  '</li>' +
  '</ul>'

  make_modal = '<div id="edit-make-modal" class="modal-curtain">' +
  '<div class="modal-popup">' +
    '<%= j render :file => "makes/_make_edit_form", :locals => { :test_case => @test_case } %>' +
  '</div>' +
  '</div>'

<% end %>

$(".makefile-actions").html(html_make_contents)
$("#make-modal").html(make_modal)
