
<tr>
  <td colspan="1">
    <a class="toggle" id=<%= "input_" + input.id.to_s %> href="javascript:void(0);">
      <%= input.name %> 
    </a>
    <div class="inner">
        <%= form_for input, url: input_url(input), method: :patch, :remote => true do |f| %>
          <table>
            <tbody>
                <tr>
                  <td>Name: </td><td><%= f.text_field :name, :placeholder => 'Run Name' %></td>
                  <td>Description:</td><td> <%= f.text_area :description, :placeholder => 'Input Description' %></td></tr>
                <tr>
                  <td colspan="4">Input<br><%= f.text_area :data, :placeholder => 'Add Input Text' %>
                  Output<%= f.text_area :output, :readonly => true %></td>
                </tr>
                <tr><td colspan="4"><%= f.submit "Update" %></td></tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </td>
  <td><%= link_to raw("<input type='checkbox'" + (input.student_visible ? "checked" : "") + ">"), input_url(input, :input => { :student_visible => !input.student_visible }), method: :patch, remote: true, "data-type" => "json" %>
  </td>
  </tr>

<script>
  $("#<%= j 'input_' + input.id.to_s %>").next().hide()
  $("#<%= j 'input_' + input.id.to_s %>").click(function(e) {
  e.preventDefault();
  var $this = $(this);
  if ($this.next().hasClass('show')) {
      $this.next().removeClass('show');
      $this.next().slideUp(350);
  } else {
      $this.parent().parent().find('li .inner').removeClass('show');
      $this.parent().parent().find('li .inner').slideUp(350);
      $this.next().toggleClass('show');
      $this.next().slideToggle(350);
  }
});
  $(document).on("page:change", function() {
    $('a[data-type=json]').on('ajax:success', function(event, input, status, xhr) {
        $(this).children(":first").prop("checked", input.student_visible);
        $(this).attr("href", "/inputs/" + input.id + "?input%5Bstudent_visible%5D=" + !input.student_visible);
    });
});
</script>
