<p>
  <strong>Name:</strong>
  <%= @input.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @input.description %>
</p>

<p>
  <strong>Data:</strong>
  <%= simple_format(@input.data) %>
</p>

<p>
  <strong>Output:</strong>
  <%= simple_format(@input.output) if not @input.output.nil? %>
</p>

<p>
  <strong>Student Visible:</strong>
  <%= @input.student_visible %>
</p>
