<%= render "shared/error_messages", :target => @user %>

<div class="loginPrompt">
  <%= form_for @user do |f| %>
    <div class="loginInput">
      <p>
      <%= f.text_field :name, :placeholder => 'Your Name' %>
      </p>
      <p>
      <%= f.text_field :email, :placeholder => 'email@example.com' %>
      </p>
      <p>
      <%= f.password_field :password, :placeholder => 'password' %>
      </p>
      <p>
      <%= f.password_field :password_confirmation, :placeholder => 'confirmation password' %>
      </p>
    </div>
    <%= f.submit "Register" %>
  <% end %>
</div>