<tr>
  <td id=<%= run_method.name.html_safe %>><%= run_method.name %></td>
  <td><%= link_to 'X', run_method, method: :delete, remote: true, data: { confirm: "Are You Sure?" } %></td>
</tr>

<script>
  $("#<%= j run_method.name %>").css('cursor', 'pointer');
  $("#<%= j run_method.name %>").click(function(){

    var load_form = '<div id="edit-run-method-modal" class="modal-curtain">' +
    '<div class="modal-popup">' +
      '<%= j(render(:file => "run_methods/_run_method_edit_form", :locals => { :run_method => run_method })) %>' +
    '</div>' +
    '</div>'

    $("#run-methods").html(load_form)
    $("input[id='run_method_name']").val("<%= j (run_method.name) %>");
    $("input[id='run_method_run_command']").val("<%= j (run_method.run_command) %>");
    $("input[id='run_method_description']").val("<%= j (run_method.description) %>");
    $('#edit-run-method-modal').show();
  });
</script>
