<tr>
  <td>
      <ul class="accordion">
        <li>
          <a class="toggle" id=<%= "run_method_" + run_method.id.to_s %> href="javascript:void(0);">
            <%= run_method.name %>
          </a>
          <ul class="inner">
            <table>
              <tbody>
                <tr>
                  <td> 
                    <div class="content-group">
                      <%= form_for run_method, url: run_method_url(run_method), method: :patch, remote: true do |f| %>
                      <table>
                        <tr> <td>Name:</td><td><%= f.text_field :name, :value => run_method.name %></td>
                        <td>Command:</td><td> <%= f.text_field :run_command, :value => run_method.run_command %></td></tr>
                        <tr><td colspan="4">Description: <br> <%= f.text_area :description, :value => run_method.description %></td></tr>
                        <tr><td colspan="4"><%= f.submit "Update" %></td></tr>
                      </table>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th colspan="4"> Testcases </th>
                </tr >
                <tr>
                  <td>
                    <table >
                      <tbody id="input_lists">
                        <tr><th> Name </th><th> Visible </th></tr>
                      <%= render run_method.inputs %>
                    </tbody>
                    </table>
                 </td>
                </tr>
                
          </tbody>
        </table>
          </ul>
        </li>
      </ul>
  </td> 
  <td>
      <%= link_to 'X', run_method, method: :delete, remote: true, data: { confirm: "Are You Sure?" } %>
  </td>
</tr>


<script>
    $("#<%= j 'run_method_' + run_method.id.to_s %>").next().hide()
    $("#<%= j 'run_method_' + run_method.id.to_s %>").click(function(e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
    }
  });

</script>
