<% @submission.assignment.test_case.run_methods.each do |run| %>
<%= raw "<div class='run-diff' id=" + run.id.to_s + ">" %>
  <p><%= run.name %></p>
  <table class="output-diff">
    <thead>
      <tr>
        <td>Your Output</td>
        <td>Expected Output</td>
        <td>Difference</td>
      </tr>
    </thead>
    <tbody>
      <% submit_run = run.inputs %>
      <% submit_run = run.inputs.select {|i| i.student_visible} if current_user.has_local_role? :student, @submission.assignment.course %>
      <% submit_run.each do |input| %>
      <tr>
        <% data = File.read(@tempDirectory + input.name) %>
        <td><%= simple_format(input.output, {}, wrapper_tag: "span") %></td>
        <td><%= simple_format(data, {}, wrapper_tag: "span") %></td>
        <% difference = File.read(@tempDirectory + input.name + "diff") %>
        <% if not difference.empty? %>
          <td><%= simple_format(difference, {}, wrapper_tag: "span") %></td>
        <% else %>
          <td>All Good</td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% FileUtils.rm_rf(@tempDirectory) %>
