<% @submission.assignment.test_case.run_methods.each do |run| %>
<%= raw "<div class='run-diff' id=" + run.id.to_s + ">" %>
  <p><%= run.name %></p>
  <table class="output-diff">
    <thead>
      <tr>
        <td>Your Output</td>
        <td>Expected Output</td>
        <td>Difference</td>
      </tr>
    </thead>
    <tbody>      
      <% @submission.run_save.each do |rs| %>
        <tr>
        <% input = run.inputs.select {|i| i.name == rs.input_name}.first %>
        <td><%= simple_format(rs.output, {}, wrapper_tag: "span") %></td>
        <td><%= simple_format(input.output, {}, wrapper_tag: "span") %></td>
        <% if not rs.pass %>
          <td><%= simple_format(rs.difference, {}, wrapper_tag: "span") %></td>
        <% else %>
          <td>All Good</td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
