<div class="run-case-list">
  <% @submission.assignment.test_case.run_methods.each do |run_method| %>
    <a href="#run_method_<%= run_method.id %>"><%= run_method.name %></a><br>
    <% @submission.visible_run_saves(current_user).select { |run_save| run_save.input.run_method == run_method }.each do |run_save| %>
      <a href="#run_input_<%= run_save.id %>"><%= run_save.input.name %></a><%= run_save.pass %><br>
    <% end %>
  <% end %>
</div>

<% @submission.assignment.test_case.run_methods.each do |run_method| %>
  <div class="run-diff" id="run_method_<%= run_method.id %>">
    <h1><%= run_method.name %></h1>
    <h2><%= run_method.description %></h2>
    <h2><%= run_method.run_command %></h2>

    <% @submission.visible_run_saves(current_user).select { |run_save| run_save.input.run_method == run_method }.each do |run_save| %>
      <%= render run_save %>
    <% end %>
  </div>
<% end %>
