<% content_for :title, get_assignment.name + " Submission" %>

<header>
  <h1>Submission by <%= @submission.user.name %></h1>
</header>

<div class="content-group">
  <%= render "shared/error_messages", :target => @submission %>
  <%= form_for @submission, url: submission_url(@submission), method: :patch do |f| %>
    <%= f.text_area :note, :placeholder => 'Grader Notes' %><br>
    <%= f.number_field :grade, :step => 0.1 %>
    <%= f.submit "Save" %>
  <% end %>
</div>

<% directory = @submission.create_directory %>
<% if @submission.compile(directory, flash) %>
  <% correct = @submission.run_test_cases(directory) %>
  <div class="grade-display">
    <center>
    <p class="grade">Output Grade</p>
    <p class="grade-value"><%= correct[:correct].to_s + " out of " + correct[:total].to_s %></p>
    </center>
    <br>
  </div>
  <%= render :partial => 'output_comparison', :locals => {:@submission => @submission, :@tempDirectory => directory} %>
<% else %>
  <header>
    <h1>The program does not run.</h1>
  </header>
<% end %>
