<% content_for :title, get_assignment.name + " Submission" %>

<header>
  <h1>Submission by <%= @submission.user.name %></h1>
</header>

<div class="content-group">
  <%= render "shared/error_messages", :target => @submission %>
  <%= form_for @submission, url: submission_url(@submission), method: :patch do |f| %>
    <%= f.text_area :note, :placeholder => 'Grader Notes', :size => "41.5x10" %><br>
    <%= f.label :student_grade, "Student Total Grade " %>
    <%= f.number_field :grade, :step => 0.1 %>
    <%= f.label :out_of, " out of " + @submission.assignment.total_grade.to_s %><br>
    <%= f.submit "Save" %>
  <% end %>
</div>

<%= collection_select :post, :file_id, @submission.upload_data.all, :id, :name, {:onchange => "submit();", prompt: true} %>

<% directory = @submission.create_directory %>
<% if @submission.compile(directory, flash) %>
  <% correct = @submission.run_test_cases(directory) %>
  <div class="grade-display">
    <center>
    <p class="grade">Output Grade</p>
    <p class="grade-value"><%= correct[:correct].to_s + " out of " + correct[:total].to_s %></p>
    </center>
    <br>
  </div>
  <%= render :partial => 'output_comparison', :locals => {:@submission => @submission, :@tempDirectory => directory} %>
<% else %>
  <header>
    <h1>The program does not run.</h1>
  </header>
<% end %>

<script type="text/javascript">
$("form.submit_on_change").each(function(idx,form){
  $(form).find("select,input").each(function(idx,element){
    $(element).change(function(){
      $(form).submit()
      window.open("http://www.w3schools.com")
    });
  });
});
</script>
