<% content_for :title, get_assignment.name + " Submission" %>

<header>
  <h1><%= get_assignment.name %> Submission</h1>
</header>

<div class="content-group">
  Grade: <%= @submission.grade %><br>
  Notes: <%= @submission.note %><br>
  <br>
  <% @submission.upload_data.each do |upload_data| %>
    File Name:
  	<%= link_to upload_data.name, upload_datum_path(upload_data) %>
    <%= link_to 'Edit', edit_upload_datum_path(upload_data) %>
  	<%= link_to 'Delete', upload_data, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= upload_data.updated_at %>
    <%= upload_data.created_at %>
    <%= upload_data.file_type %>
  <br>
  <% end %>
  <br>
  <%= form_tag create_file_url("submission", @submission), method: :post, :multipart => true do %>
  	<%= file_field_tag 'upload_file' %>
  	<%= submit_tag "Save File" %>
  <% end %>
</div>
