<% content_for :title, get_assignment.name + " Submission" %>

<header>
  <h1><%= get_assignment.name %> Submission</h1>
</header>

<div class="content-group">
  Grade: <%= @submission.grade %><br>
  Notes: <%= @submission.note %><br>
  <br>
  <% @submission.upload_data.each do |upload_data| %>
  	<%= "File Name: " + upload_data.name %>
  	<%= link_to 'Delete', upload_data, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
  <br>
  <%= form_tag create_file_url(@submission), :multipart => true do %>
  	<%= file_field_tag 'contents' %>
  	<%= submit_tag "Save File" %>
  <% end %>
</div>
