<% content_for :title, get_assignment.name + " Submission" %>

<header>
  <h1><%= get_assignment.name %> Submission</h1>
</header>

<div class="content-group">
  Grade: <%= @submission.grade %><br>
  Notes: <%= @submission.note %><br>
  <br>
  <table class="files-display">
    <tr>
      <th>File Name</th>
      <th>Updated At</th>
      <th>Uploaded At</th>
      <th>File Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @submission.upload_data.each do |upload_data| %>
      <tr>
      	<td><%= link_to upload_data.name, upload_datum_path(upload_data) %></td>
        <td><%= upload_data.updated_at %></td>
        <td><%= upload_data.created_at %></td>
        <td><%= upload_data.file_type %></td>
        <td><%= link_to 'Edit', edit_upload_datum_path(upload_data) %></td>
        <td><%= link_to 'Delete', upload_data, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>
  <%= form_tag upload_submission_url(@submission), method: :post, :multipart => true do %>
  	<%= file_field_tag 'upload_file' %>
  	<%= submit_tag "Save File" %>
  <% end %>
</div>

<%= link_to "Compile", :action => :compile %>
