<% content_for :title, "Modify Enrolled User" %>

<header>
  <h1>Editing User in <%= @course.name %></h1>
  <h2><%= @user.name %></h2>
</header>

<div class="content-group">
  <%= form_for :user, url: course_user_edit_path(@course, @user), method: :patch do |f| %>
    <%= render "shared/error_messages", :target => @user %>
    <%= f.label :roles %><br>
    <table>
    <% User::ROLES.each do |role| %>
      <tr>
        <td><%= f.check_box(:roles,
        { :multiple => true,
          :checked => (@user.has_local_role? role, @course)
        },
        role, nil)
      %></td>
      <td><%= f.label role %></td></tr>
    <% end %>
    </table>
   
    <br>
    <%= f.submit %>
  <% end %>
</div>
