<% content_for :title, @course.name %>

<header>
  <h1>Manage Course</h1>
  <h2><%= @course.name %></h2>
</header>
<div class="content-group">
  <p>Description: <%= @course.description %></p>
  <p>Term: <%= @course.term %>&nbsp;<%= @course.year %></p>
  <p>Open: <%= @course.open %></p>
  <p>Join Token: <%= @course.join_token %></p><br>
</div>

<header>
  <h1>Instructor Actions</h1>
</header>
<div class="content-group">
  <div class="course-actions">
    <ul>
      <li>
        <%= link_to new_assignment_url(@course) do %>
          <div>
            <%= image_tag('icon_add.png', size: "64x64", alt: "Add Assignment", title: "Add Assignment") %><br>
            New Assignment
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to select_assignment_url(@course) do %>
          <div>
            <%= image_tag('icon_copy.png', size: "64x64", alt: "Import Assignment", title: "Import Assignment") %><br>
            Import Assignment
          </div>
        <% end %>
      </li>
  </div>
</div>

<header>
  <h1>Assignments</h1>
</header>
<div class="content-group">
  <table class="assignment-list">
    <tr>
      <th>Assignment Name</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>

    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, assignment_path(assignment) %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Delete', assignment_path(assignment), method: :delete, data: { confirm: "Are You Sure?" } %></td>
      </tr>
    <% end %>
  </table>
</div>
