<% content_for :title, @course.name %>

<header>
  <h1><%= @course.name %></h1>
</header>

<div class="content-group">
  <p><%= @course.name %></p>
  <p><%= @course.description %></p>
  <p><%= @course.term %>&nbsp;<%= @course.year %></p>
  <p><%= @course.open %></p>
  <p><%= @course.join_token %></p>
</div
