<% breadcrumb :test_case, @test_case %>
<% content_for :title, get_assignment.name + " Test Case" %>

<header>
  <h1><%= get_assignment.name %></h1>
  <h2>Test Case</h2>
</header>
<div class="content-group manage-test-case">
  <table class="files-display">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Updated At</th>
        <th>Uploaded At</th>
        <th>File Type</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @test_case.upload_data.each do |upload_data| %>
        <tr>
          <td><%= link_to upload_data.name, upload_datum_path(upload_data) %></td>
          <td><%= upload_data.updated_at %></td>
          <td><%= upload_data.created_at %></td>
          <td><%= upload_data.file_type %></td>
          <td><%= link_to 'Delete', upload_data, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= render "shared/file_uploader", :target => @test_case %>
</div>

<header>
  <h1>Makefile Management</h1>
</header>
<div class="content-group">
  <div class="makefile-actions">
  </div>
</div>

<header>
  <h1>Test Case Run Methods</h1>
</header>
<div class="content-group">
  <table>
    <thead>
      <tr>
        <th>Run Methods</th>
      </tr>
    </thead>
    <tbody id="run_methods_list">
      <% @test_case.run_methods.each do |r| %>
        <tr>
          <td><%= link_to r.name, edit_run_method_url(r) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <div class="testcase-actions">
    <ul>
      <li>
        <%= link_to :method => :get, :action => :create_output do %>
          <div>
            <%= image_tag('icon_output.png', size: "64x64", alt: "Create Outputs", title: "Create Outputs") %><br>
            Create Outputs
          </div>
        <% end %>
      </li>
      <li>
          <div onclick="$('#run-method-modal').show();">
            <%= image_tag('icon_add.png', size: "64x64", alt: "Add Run Method", title: "Add Run Method") %><br>
            Add Run Method
          </div>
      </li>
    </ul>
  </div>
</div>

<header>
  <h1>Assignment Run Variables</h1>
</header>
<div class="content-group">
  <%= form_for @test_case, url: test_case_url(@test_case), method: :patch do |f| %>
    <table>
      <tr>
        <td><%= f.label "CPU Max Run Time" %></td>
        <td><%= f.number_field :cpu_time, :step => 1 %></td>
      </tr>
      <tr>
        <td><%= f.label "Max Core Dump Size" %></td>
        <td><%= f.number_field :core_size, :step => 1 %></td>
      </tr>
    </table>
    <%= f.submit "Save" %>
  <% end %>
</div>

<div id="run-method-modal" class="modal-curtain">
  <div class="modal-popup">
    <%= render :partial => "run_method_form", :locals => { :test_case => @test_case, :run_method => @run_method } %>
  </div>
</div>

<% if @test_case.make.nil? %>
<div id="new-make-modal" class="modal-curtain">
  <div class="modal-popup">
    <%= render :partial => "make_form", :locals => { :test_case => @test_case, :make => @make } %>
  </div>
</div>
<% else %>
<div id="edit-make-modal" class="modal-curtain">
  <div class="modal-popup">
<<<<<<< HEAD
    <%= render :partial => "make_edit_form", :locals => { :test_case => @test_case } %>
=======
    <%= render :partial => "edit_form", :locals => { :test_case => @test_case, :make => @make } %>
>>>>>>> 508b90c7982f2cbcf69549dd158cd8cd3afdc448
  </div>
</div>
<% end %>

<script>
  <%= render(:file => 'run_methods/refresh.js.erb', :handlers => [:erb], :formats => [:js]) %>
<<<<<<< HEAD

  $(document).on("page:change", function() {
    <%= render(:file => 'makes/refresh.js.erb', :handlers => [:erb], :formats => [:js]) %>
  });
=======
>>>>>>> 508b90c7982f2cbcf69549dd158cd8cd3afdc448
</script>
