<% content_for :title, "Reset Password" %>
<h1>Submit</h1>

<div class="login-prompt">
  <h2>Reset Password</h2>

  <%= form_for @user_session, :as => :user_session, :url => { :action => "change_password" } do |f| %>

      <%= render "shared/error_messages", :target => @user_session %>
      <%= f.email_field :email, :placeholder => 'email@example.com' %><br>
      <%= f.password_field :password, :placeholder => 'password' %>
      <%= f.password_field :password_confirmation, :placeholder => 'confirm' %>
      <%= f.submit "Reset" %>

  <% end %>
</div>
